*{
  padding: 0;
  margin: 0;
}
.example-spacer {
    flex: 1 1 auto;
  }
  p{
    margin: 0 -10px;
  }
  .example-container {
    
  
    width: 1450px;
    height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    width: 300px;
    display: flex;
    height: 100%;
   
  }
  
  .example-sidenav {
    padding: 10px;
    background-color: aliceblue;
    margin: 0px;
  }
  .mat-expansion-panel{
    background-color: aliceblue;
  }
  .nav{
    width: 250px;
    height: 20px;
    font-size: 14px;
  }
  .fontsize{
    font-size: 14px;
  }
  
  .logout{
    margin-right: 80px;
  }
 
  mat-list-item{
    //width:300px;
    background-color: yellow;
   
  }
  .active{
    border-right:2px solid red;
    
    //background-color: aqua;
   // padding: 10px;
  }